@import "./color.css";
@import "./font.css";

/* Formatação */

body,
h1,
h2,
p,
a,
ul,
button,
input {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}


/* Opções gerais */
.container {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}

input {
  border: 2px solid #0000;
}
input:focus {
  outline: none;
  border: 2px solid var(--cor-s2);
}

/* Header */

.menu-header {
  background: #17222d;
  padding: 0 60px;
}
.menu-header .container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

header .bg-info {
  background: #1188ee;
  grid-column: 1/-1;
  padding: 0 60px;
}

.bg-info p {
  align-self: center;
  padding: 5px 0;
}

.menu-header nav .lista-menu {
  display: flex;
  gap: 30px;
  padding: 15px 0;
}

/* Introdução */
.intro {
  background: url("../img/bg-intro.png") no-repeat;
  max-width: 1260px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  align-items: end;
}

.intro .container {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 1170px;
  justify-content: space-between;
  align-items: center;
  margin: 60px;
}

/* Formulário Home*/
.intro .container form {
  justify-self: end;
}
.matricula-home {
  display: flex;
  box-shadow: 0 5px 5px #17222d66;
  margin-left: 30px;
}

.matricula-home input {
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
}
.matricula-home input::placeholder {
  color: var(--cor-2);
}

.matricula-home .btn {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  background: var(--cor-s2);
  display: flex;
  gap: 20px;
}
.matricula-home .btn::after {
  content: url("../img/icons/seta.svg");
  height: 10px;
  width: 10px;
  right: 20px;
}

/* Conteudo principal */
.conteudo-principal {
  margin: 60px 60px 0;
}
.conteudo-principal .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}

/* Imagens */
.img-principal {
  display: grid;
  justify-items: center;
}
.img-principal img {
  object-fit: cover;
}
.img-principal:first-child {
  max-width: 570px;
  height: 671px;
}
#mapa {
  max-width: 90%;
  height: 240px;
  position: relative;
  top: -120px;
  box-shadow: 0 10px 10px #bbccdd33, 0 5px 5px #bbccdd22;
}
/* Como chegar */
.como-chegar {
  position: relative;
  place-self: start;
  top: -60px;
}
.como-chegar h1 {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.como-chegar h1::before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--cor-s2);
}
.como-chegar li {
  display: flex;
  gap: 5px;
  align-items: center;
}
.como-chegar li::before {
  display: block;
  content: "";
  width: 10px;
  height: 2px;
  background: var(--cor-p2);
}

/* Informações */
.informacoes ul {
  margin-top: 60px;
  margin-bottom: 30px;
  border-top: 2px solid var(--cor-1);
  border-bottom: 2px solid var(--cor-1);
  padding-top: 30px;
  padding-bottom: 30px;
}
.informacoes ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.informacoes ul li + li {
  border-top: 2px solid var(--cor-1);
  margin-top: 30px;
  padding-top: 30px;
}
.informacoes ul li::before {
  display: block;
  content: "";
  min-width: 60px;
  height: 64px;
}
.informacoes ul li:first-child:before {
  background: url("../img/icons/sandalhas.svg") no-repeat;
}
.informacoes ul li:nth-child(2):before {
  background: url("../img/icons/coco.svg") no-repeat;
}
.informacoes ul li:last-child:before {
  background: url("../img/icons/boia.svg") no-repeat;
}

/* Tipos de aulas */
.aulas {
  margin-top: 120px;
  background: var(--cor-1);
  padding: 60px;
  position: relative;
}
.aulas::before {
  display: block;
  position: absolute;
  justify-self: center;
  content: url("../img/icons/ondas.svg");
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aulas h1 {
  text-align: center;
  margin-bottom: 40px;
}
.aulas-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: start;
  gap: 30px;
  justify-items: center;
}

.aulas-info > li {
  padding: 30px 70px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px #bbccdd33, 0 5px 5px #bbccdd22;
  position: relative;
}
.aulas-info > li::before {
  display: block;
  content: "";
  width: 21px;
  height: 38px;
  position: absolute;
  background: url("../img/icons/surfbot-icon.svg");
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aulas-info > li h2 {
  text-align: center;
  margin-bottom: 30px;
}
.aulas-info li ul {
  border-top: 2px solid var(--cor-1);
  border-bottom: 2px solid var(--cor-1);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.aulas-info li ul li + li {
  margin-top: 10px;
}
.aulas-info li ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aulas-info li ul li::before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid var(--cor-s2);
  border-radius: 50%;
}

.aulas-matricula {
  display: flex;
  gap: 30px;
  justify-self: center;
  background: var(--cor-5);
  border-radius: 5px;
  padding: 7px 15px;
  margin-top: 30px;
}
.aulas-matricula::after {
  display: block;
  content: url("../img/icons/seta.svg");
}
.aulas p {
  margin-top: 30px;
  text-align: center;
  justify-self: center;
}
.bb {
  border-bottom: 2px solid var(--cor-s2);
}

/* Menção */
.mencao {
  display: grid;
  gap: 30px;
  max-width: 100%;
  height: 480px;
  background: url("../img/foto-quote.jpg");
  color: #fff;
  place-content: center;
  text-align: center;
}

@media (max-width: 1100px) {
}
