/* Contato Form */
.contato-form .container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 60px;
  gap: 0 60px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.contato-form .container > h1 {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 30px;
}

.contato-form input,
.contato-form textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid #0000;
  margin-top: 5px;
  margin-bottom: 10px;
  background: var(--cor-1);
  width: 100%;
  min-width: 100%;
  max-width: 450px;
  min-height: 40px;
  max-height: 200px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 2px #bbccdd66;
}
.contato-form input:focus,
.contato-form textarea:focus {
  border: 1px solid var(--cor-p2);
}
.contato-form button {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  background: var(--cor-5);
  gap: 15px;
  box-shadow: 0 2px 2px #bbccdd66;
  margin-top: 30px;
  justify-self: start;
}
.contato-form button::after {
  display: block;
  content: url("../../../img/icons/seta.svg");
}
#sep {
  display: block;
  width: 2px;
  height: 100%;
  background: var(--cor-1);
}
