/* Formulário Home*/
.intro .container form {
  justify-self: end;
}
.matricula-home {
  display: flex;
  box-shadow: 0 5px 5px #17222d66;
  margin-left: 30px;
}

.matricula-home input {
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
  border: 2px solid #0000;
}
.matricula-home input:focus {
  border: 2px solid var(--cor-s2);
}
.matricula-home input::placeholder {
  color: var(--cor-2);
}

.matricula-home .btn {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  background: var(--cor-s2);
  display: flex;
  gap: 20px;
}
.matricula-home .btn::after {
  content: url("../../../img/icons/seta.svg");
  height: 10px;
  width: 10px;
  right: 20px;
}
